%component{dynamic_tag_attributes}
  %div{class: "matestack-isolated-component-wrapper", "v-bind:class": "{ 'loading': loading === true }"}
    %div{class: "loading-state-element-wrapper", "v-if": "loading === true"}
      =loading_state_element
    %v-runtime-template{":template":"isolatedTemplate"}
