- if [:text, :number, :email, :date, :password].include?(options[:type])
  %input{"v-model#{'.number' if options[:type] == :number}": input_key,
    type: options[:type],
    class: options[:class],
    id: component_id,
    "@keyup.enter": "submitFilter()",
    ref: "filter.#{attr_key}",
    placeholder: options[:placeholder],
    "init-value": init_value}
