- if context[:params][:only_page] == "true"
  %div{class: "matestack_page_content"}
    = render_content
- else
  %div{class: "matestack_page"}
    %div{class: "matestack_page_content"}
      = render_content
