%component{"is": @component_class, "id": "#{component_id}__wrapper", "ref": component_id, ":params":  @url_params.to_json, ":component-config": @component_config.to_json, "inline-template": true}
  %div
    %div{"v-if": "asyncTemplate == null"}
      = render_content
    %div{"v-if": "asyncTemplate != null"}
      %v-runtime-template{":template":"asyncTemplate"}
