.bundle/
log/*.log
pkg/
node_modules/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/public/packs/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/
builder/db/*.sqlite3
builder/db/*.sqlite3-journal
builder/log/*.log
builder/node_modules/
builder/yarn-error.log
builder/storage/
builder/tmp/
builder/public/packs
.idea/

/coverage
