<!DOCTYPE html>
<html>
  <head>
    <title>Core Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application_core' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <div id='from-rails-core-layout'></div> 
</html>
