<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application_vue_js' %>
  </head>

  <body>
    <div id='matestack-ui'>
      <%= yield %>
    </div>
    <div id='from-rails-vuejs-layout'></div>
  </body>
</html>
