- if options[:type] == :dropdown

  %select{ select_attributes }
    %option{disabled: true}= placeholder
    - if select_options.is_a?(Hash)
      - select_options.each do |key, value|
        %option{value: key}=value
    - if select_options.is_a?(Array)
      - select_options.each do |option|
        %option{value: option}=option
