- if options[:text].nil?
  %button{"class": options[:class], "id": component_id}
    - if block_given?
      = yield
- else
  %button{"class": options[:class], "id": component_id}
    = options[:text]
