%component{dynamic_tag_attributes}
  %div{class: "matestack-async-component-wrapper", "v-bind:class": "{ 'loading': loading === true }"}
    %div{"v-if": "asyncTemplate == null"}
      = render_content
    %div{"v-if": "asyncTemplate != null"}
      %v-runtime-template{":template":"asyncTemplate"}
