{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "false",
        "targets": "> 1%, not dead",
        "useBuiltIns": "entry",
        "corejs": {
          "version": 3
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
