- if options[:text].nil?
  %a{"href": link_path, "class": options[:class], "id": component_id, "@click.prevent": navigate_to(link_path), "v-bind:class": "{ active: isActive }"}
    - if block_given?
      = yield
- else
  %a{"href": link_path, "class": options[:class], "id": component_id, "@click.prevent": navigate_to(link_path), "v-bind:class": "{ active: isActive }"}
    = options[:text]
